[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "python starter"

[packages]
nitric = "==1.0.1"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[scripts]
dev = "watchmedo auto-restart -p '*.py' -R python -- -u"

[dev-packages]
watchdog = "*"
